.box-my-websites {
	h1 {
		//border-bottom: 1px solid $light-gray;
		color: $dark-gray;
		font-weight: $font-normal;
		padding: 0 0 18px 17px;
	}
	p {
		color: $dark-gray;
		font-weight: $font-normal;
		padding-left: 0;
	}
	.list-categories {
		background-color: $light-gray;
		float: left;
		//width: 263px;
        width: 18%;

		@include respond-to(handhelds) {
			//width: 190px;
            width: 18%;
		}

		@include respond-to(medium-screens) {
			//width: 200px;
            width: 18%;
		}

		li {
			cursor: pointer;
			display: block;
			padding: 14px 10px;
			overflow: hidden;

			&.disabled {
				a {
					color: $gray;
				}
			}
			a {
				float: left;
				color: $dark-gray;
				font-size: 1.45em;
			}
			&.active {
				background-color: $red;
				a {
					color: #fff;
				}
			}
		}
	}
	.list-sources {
		float: left;
		margin: 0 0 0 50px;
		//width: 555px;
        width: 45%;

		@include respond-to(handhelds) {
			margin-left: 10px;
			//width: 440px;
            width: 45%;
		}

		@include respond-to(medium-screens) {
			margin-left: 10px;
			//width: 550px;
            width: 45%;
		}

		ul {
			float: left;
			li {
				cursor: pointer;
				float: left;
				margin: 0 26px 45px 0;
				position: relative;
				label {
					cursor: pointer;
					float: left;
				}
				.check-red {
					right: -10px;
					top: -10px;
				}
			}
		}
	}

    .dashboard-customize {
            margin-bottom: 50px;            
            //width: 30%;
            width: 25%;
            zoom: 1;
            //margin: 0 0 0 50px;
            margin: 0 0 0 35px;
            float: left;

            &.dashboard-my-websites {
        background-color: $light-gray;

        .title-header {
            background-color: #fff;
            font-size: 1.35em;
            font-weight: 400;
            height: 60px;
            line-height: 60px;
            padding-bottom: 0;
            text-transform: uppercase;

            .icon {
                display: inline-block;
                margin: 0 0 -3px 2px;
            }
        }

        .list-dashboard {
            margin: 20px auto;
            //width: 75%;
            width: 90%;

            @include box-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));

            .content {
                overflow-y: auto !important;
            }

            .title-and-edit h1 {
                cursor: default;
                font-weight: 400;

                a {
                    font-size: 1.3em;
                }
            }

            .options {
                a {
                    cursor: default;
                    font-weight: 400;
                }
            }

            ul.list-img-links-2 {
                display: block;
                overflow: hidden;
                padding: 5px;

                li {
                    background-color: #fff;
                    display: inline-block;
                    float: left;
                    height: 41px;
                    margin-top: 10px;
                    padding: 0 5px;
                    text-align: center;
                    width: 50%;
                    position: relative;

                    &:hover {
                        .sCheckbox, .btn-delete {
                            display: block;
                        }
                    }

                    .sCheckbox, .btn-delete {
                        display: none;

                        position: absolute;
                        top: -5px;
                        right: -0;
                        z-index: 100;
                    }

                    .item-border {
                        border: 1px solid $gray;
                        color: #000;
                        cursor: pointer;
                        display: block;
                        height: 41px;
                        padding: 5px 0 4px;

                        &.name {
                            line-height: 39px;
                            padding-top: 0;
                            padding-bottom: 0;
                        }

                        &.active {
                            border-color: $red;
                            outline: none;
                        }
                        img {
                            vertical-align: middle;
                            max-height: 36px;
                            max-width: 111px;
                            width: 100%;
                        }
                        span{
                            font-size: 1.2em;
                            min-height: 29px;
                            display: block;
                        }
                    }
                }
            }

        }
    }
}
	.trusteds-mywebsites {
		@include clearfix;
		margin-bottom: 25px;

		// @include clearfix;
		// ul {
		// 	margin-top: 40px;
		// 	li {
		// 		float: left;
		// 		margin: 0 13px 29px 14px;
		// 		position: relative;
		// 		label {
		// 			cursor: pointer;
		// 		}
		// 		.check-red {
		// 			right: -15px;
		// 			top: -15px;
		// 		}
		// 	}
		// }
	}

	.add-websites {
		.header {
			@extend %headerBlue;
			margin-bottom: 0;

			.hold-labels {
				float: left;
				margin: 0 2% 0 0;
				&.websites-item-name {
					width: 26%;
				}
				&.websites-item-link {
					width: 54%;
				}
				label {
					display: block;
					margin-bottom: 10px;
					width: 100%;
				}
				input {
					color: $dark-gray;
					display: block;
					height: 40px;
					font-weight: $font-bold;
					line-height: 40px;
					padding: 0 2%;
					width: 96%;
				}
			}
			.btn-add {
				@extend %btn-red-add;
				margin: 36px 0 0;
				padding: 0;
				text-align: center;
				width: 16%;
				.icon {
					display: inline-block;
					margin: 12px 6px -2px 0;
				}
			}
		}
		.list-sources {
			display: block;
			float: none;
			margin: 0;
			overflow: hidden;
			padding: 17px;
			width: auto;
			.btn-delete {
				float: right;
				margin: 0 0 0 15px;
			}
		}
		.websites-links {
			display: block;
			float: none;
			overflow: hidden;
			padding: 17px;
			width: auto;
			li {
				float: left;
				margin: 0 0 20px;
				width: 30%;
			}
		}
		.btn-delete {
			margin: 0 0 0 5px;
			text-indent: -999999em;
		}

		.confirm-add-website {
			background-color: #fff;
			border: 2px solid $red;
			color: $red;
			padding: 10px 10px 10px 16px;
			overflow: hidden;
			position: relative;
			span.msg {
				display: inline-block;
				font-size: 1.3em;
				line-height: 30px;
				width: 700px;
			}
			.btns-confirm {
				height: 30px;
				margin-top: -15px;
				position: absolute;
				right: 10px;
				top: 50%;
				a {
					float: left;
					margin-left: 7px;
				}
			}
		}
	}
	.trusted-title{
		a.btn-open-custom {
			color: $dark-gray;
			font-weight: $font-bold;
			text-decoration: underline !important;
		}
	}
}