/* =================================================================================================
Typography - limited rules for just this tutorial rather than a complete set
================================================================================================= */

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  

  @include respond-to(medium-screens) { 
    font-size: $font-size + 3;
  }
  @include respond-to(handhelds) { 
    font-size: $font-size + 4;
  } 
}

a {
	display: inline-block;
	text-decoration: none;  
	&:hover {  
		text-decoration: underline;
	}
} 
h1 a {
	display: inline !important;
}

.bold, b, strong {
	font-weight: $font-bold;
}

p {
  margin: 0 0 1.375em 0;
  font-size: 1em;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $font-bold;
  color: $base-color;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  margin: 0;
  font-weight: $font-bold;
  color: $base-color;
}

h1 {
  font-size: 1.25em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.4em;
}