<section class="box-lightbox login" data-fn="placeholder" data-resizecolorbox="" data-ng-controller="LoginCtrl">
	<header>
		<h1>TAKE 65 - Change your Password</h1>
	</header>
    <form class="hold-form-password" data-ng-submit="changePassword()" name="loginForm" data-nglogged="" data-fn="formValidation" data-param='{ "error": "#loginMessage", "submit": "#btnLogin", "colorbox": true }'>
        
        <div class="hold-line">
            <label class="lbl-line">
                Please type your new TAKE 65 password
            </label>
        </div>

        <div class="hold-line">
	        <label for="fldLoginPassword" class="lbl-line">New Password:</label>
	        <input type="password" name="password" class="i-txt i-right" id="fldLoginPassword" data-valid="empty" data-name="password" placeholder="Type your new password" data-ng-model="password">
        </div>

        <div class="hold-line">
	        <label for="fldLoginPassword" class="lbl-line">Re-enter New Password:</label>
	        <input type="password" name="password2" class="i-txt i-right" id="fldLoginPasswordConfirm" data-valid="empty" data-name="password confirmation" placeholder="Type your new password" data-ng-model="password2">
        </div>

        <div id="loginMessage" class="msg-feedback error" data-ng-hide="isSending"></div>
        <div class="msg-feedback" data-ng-class="feedbackStatus" data-ng-show="isSending">{{loginMessage}}</div>
        <br />
        <input type="submit" value="Change Password" class="btn btn-login btn-red" id="btnLogin" data-valid="submit" />
        <div id="facebookMessage" class="msg-feedback error" data-ng-class="feedbackFacebook" data-ng-show="facebookSending">{{facebookMessage}}</div>
    </form>
</section>