<?xml version="1.0"?>
<appSettings>
  <add key="Device.Mobile" value="(ipad|ipod|iphone|android|nokia|sonyericsson|blackberry|samsung|sec\-|windows ce|motorola|mot\-|up.b|midp\-)" />
  <!--<add key="Device.Mobile" value="(ipod|iphone|android|nokia|sonyericsson|blackberry|samsung|sec\-|windows ce|motorola|mot\-|up.b|midp\-)"/>-->
  <add key="Content.ImageFolder" value="C:\Projetos\Take65\V2\Take65\Website\Content\FeedContentImage\" />
  <add key="Content.ImageFolder.abcimage" value="C:\Projetos\Take65\V2\Take65\Website\Content\FeedContentImage\abc-default-image.jpg" />

  <add key="Google.Search.KeyAPI" value="AIzaSyC9clyvpjPPZw-x9_vUoZfBaEXGUtvyHps" />
  <!-- SANDBOX: AIzaSyAMEt37iNh_7VmSn2rndodygDnQ81m1UaM-->
  <add key="Google.Maps.GeoCode" value="http://maps.googleapis.com/maps/api/geocode/json?address={0}&amp;sensor=true" />

  <add key="REDIRECT_URI" value="http://localhost:10037/" />
  
  <add key="Live.CLIENT_ID" value="000000004011122B" />
  <add key="Live.CLIENT_SECRET" value="nGqsxYOpML-qWbLeDgrd6vo-UibrBObR" />
  <add key="Live.REDIRECT_URL" value="http://localhost:10034/" />

  <add key="ForecastIO.REST" value="https://api.forecast.io/forecast/818735e82ca89d9605830e8bb84a8094/{0}" />
  <!-- API Key: 818735e82ca89d9605830e8bb84a8094 / https://api.forecast.io/forecast/818735e82ca89d9605830e8bb84a8094/lat,lng-->

  <add key="Application.Environment" value="production" /> <!-- production / sandbox-->
  
  <add key="Application.Smtp.EnableSsl" value="1" />
  <add key="Application.Smtp.Server" value="smtp.gmail.com" />

  <add key="Application.Smtp.Port" value="587" />
  <add key="Application.Smtp.Username" value="take65web@gmail.com" />
  <add key="Application.Smtp.Password" value="kickstart2014" />

  <add key="Email.Path" value="/Email/" />
  <add key="Email.From" value="no-reply@take65.com" />
  <add key="Email.SupportInfo" value="info@take65.com" />

  <add key="Application.Upload.Image.SuggestionBox" value="/Content/SuggestionBox/" />
  <add key="Application.Upload.Image.Source" value="/Content/Sources/" />

  <!--<add key="Application.SocialMediaPhoto.PreviewFolder" value="H:\SourceControl\NetBiis\Take65\Take65\V2\Take65\Website\Content\SocialMediaPhoto\Preview\"/>-->
  <add key="Application.SocialMediaPhoto.PreviewFolder" value="{MapPath}\Content\SocialMediaPhoto\Preview\" />
  <add key="Application.SocialMediaPhoto.PreviewUrl" value="/Content/SocialMediaPhoto/Preview/" />

  <add key="Application.DefaultUserId" value="162" />

  <add key="ChatCoreUrl" value="http://chat.sandbox.netbiis.com:7070/http-bind/" />
  <add key="ChatUrl" value="chat.sandbox.netbiis.com" />
  <add key="ChatRoom" value="tak65@conference.amazona-kd5nje2" />  <!-- take65@conference.kwwcws / tak65@conference.amazona-kd5nje2 -->
  
  <!-- beta and dev google widget configuration -->
  <add key="Google.API_KEY" value="AIzaSyBl63D_sLdTgP5rf5T1ikxRRj1Kh1cGBt8" />

  <!-- beta configuration 
  <add key="Google.OAuth2.CLIENT_ID" value="989446586222-qhgku32l10k4f3jb3svrji9r0h0t099f.apps.googleusercontent.com"/>
  <add key="Google.OAuth2.CLIENT_SECRET" value="Bbaimz9mjT7TcBQXaYgLmrrt"/>
  <add key="Google.OAuth2.REDIRECT_URI" value="/gauthcallback"/>-->
  <!-- prod configuration gor gplus oauth should work for beta, dev as well-->
  <add key="Google.OAuth2.CLIENT_ID" value="618757064840-p7go93vh1vkql3gcqe2298j6j7bcvr0o.apps.googleusercontent.com"/>
  <add key="Google.OAuth2.CLIENT_SECRET" value="q_14VhTl1_8UwwolJEuZGlab"/>
  <add key="Google.OAuth2.REDIRECT_URI" value="/gauthcallback"/>
  <!-- prod configuration for gmail widget and invitefriends configurations should work for beta and dev -->
  <add key="Google.CLIENT_ID" value="690207592198-9e2gf3poa1g29p60tvnopeuu3h5sr49n.apps.googleusercontent.com"/>
  <add key="Google.CLIENT_SECRET" value="WMGOZ89sOz3eYXORH8CW4FHx"/>
  <add key="Google.REDIRECT_URI" value="/googleoauth2callback"/>

  <!-- beta and dev google widget configuration 
  <add key="Google.CLIENT_ID" value="92321884464-8um8bgj23ouetms2lpt5dms3btia4af5.apps.googleusercontent.com" />
  <add key="Google.CLIENT_SECRET" value="kmczulahUYFL8Dloi-2CBZn6" />
  <add key="Google.REDIRECT_URI" value="/googleoauth2callback" /> -->

  <!-- dev ocnfiguration of invite friends for live and yahoo 
  <add key="LIVE.OAUTH.CLIENT_ID" value="0000000040131489"/>
  <add key="LIVE.OAUTH.CLIENT_SECRET" value="uCWBFhxFONb9V05O8NFM3HbscZFbWCdI"/>
  <add key="LIVE.OAUTH.REDIRECT_URI" value ="/livecallback"/>-->
  <add key="YAHOO.OAUTH.CONSUMER_KEY" value="dj0yJmk9WEZTWnJHQ3BRaklZJmQ9WVdrOWN6UjBhMFp5TXpRbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD01YQ--"/>
  <add key="YAHOO.OAUTH.CONSUMER_SECRET" value="1d6fcd7af94a2936d5d9a6f24f5748acade38ae6"/>
  <add key="YAHOO.OAUTH.REDIRECT_URI" value ="/yauthcallback"/>
  <!-- prod ocnfiguration of invite friends for live -->
  <add key="LIVE.OAUTH.CLIENT_ID" value="000000004C12E45E"/>
  <add key="LIVE.OAUTH.CLIENT_SECRET" value="7RRtTlaOrw50OjP-jpMKdz7x3-eEX-Xi"/>
  <add key="LIVE.OAUTH.REDIRECT_URI" value ="/livecallback"/>


</appSettings>