<?xml version="1.0"?>
<connectionStrings>
  <!-- uncomment for dev db -->
  <add name="Take65" connectionString="server=54.200.182.210;UID=take65;PWD=T@nderF00t;database=Take65-V4;" providerName="System.Data.SqlClient"/>
   <!--uncomment for beta db--> 
  <!--<add name="Take65" connectionString="server=4.200.182.210;UID=take65;PWD=T@ke65Web;database=Take65-V3;" providerName="System.Data.SqlClient"/>-->
  <!-- uncomment for live db -->
  <!--<add name="Take65" connectionString="server=54.69.55.136;UID=take65;PWD=T@nderF00t;database=take65;" providerName="System.Data.SqlClient"/>
  <add name="Take65" connectionString="server=54.69.55.136;UID=take65;PWD=T@nderF00t;database=take65-V3;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
