<section class="about-us">
    <h1>About Take 65</h1>
    <br />
    <br />
   Adam and Deborah Heine are the husband and wife team behind Take65. While their professional lives didn’t start in web development, they recognized a need for a cleaner, easier and safer way to use the web. Over the years, they’ve watched older family members struggle with the ever-changing Internet and knew there had to be a way to give their loved ones a better way to use it.
    <br />
    <br />
"We watched our parents – now in their 60s, 70s and 80s – struggle to navigate the Internet as more of their resources became available for ‘easier’ access online. After extensive conversations with other seniors and baby boomers, we realized there was a great need and desire for a web environment tailored specifically to their needs. We knew there had to be a way to give our parents and new friends a customized solution to help make their web experiences simplified, gratifying and safe. We worked hard to bring it to life and in 2012, Take65.com was born."
    <br />
    <br />
Take 65 offers users a FREE personal, easy-to-use website that provides all of the information you need in one place. Our goal is to provide the best of the web without all of the extra ‘noise’ found on other sites. We know the value in providing you with a completely customizable, and, most importantly, safe web experience. Take 65 gives you your resources, your way. You can populate your homepage with content you actually want to see, such as your family’s Facebook photos, top news stories and important emails. We’ve also created features, such as the suggestion box, that will recommend content based on your interests.
    <br />
    <br />
We hope to encourage all seniors and baby boomers to become a part of the Internet community. Our dedicated team is committed to doing everything we can to make sure you’re comfortable and satisfied with your web experience. We’re thrilled you’ve taken the time to visit us and hope you’ll make Take 65 your ‘go-to’ homepage.
<br />
    <br />
    Watch our ‘how-to Take 65’  <a  href="https://www.youtube.com/watch?v=W_jzYOy17H0&feature=youtu.be​" target="_blank"><b><u>video here</u></b></a>
</section>