 <section class="box-lightbox add-new-widget step1" data-ng-controller="AddNewWidgetCtrl" data-resizecolorbox="" data-close-colorbox="">
    <div data-ng-hide="isSocialMediaFrame">
        <header>
            <h1>Add New Frame</h1>
            <!--<a href="#home" class="btn-close-colorbox icon-close-red-and-white" data-colorbox-close="">Close</a>-->
        </header>
        <div class="box-add-widgets" data-ng-hide="hasLoad">
            <p>Select the type of frame you want to add</p>
            <div class="widgets">
                <ul>
                    <li>
                        <a href="#modalSliderAjax" data-ngopenpop="/Templates/AddNewWidget/Feed.html" data-fn="openPop" data-param='{ "type": "inline", "height":"80%", "width": 910, "closeButton": false, "resizeBoxLightbox": true }'>
                            <img src="/Content/Widgets/add-feed.png" alt="">
                            <span class="label">News</span>
                        </a>
                        <a href="#modalSliderAjax" data-ngopenpop="/Templates/AddNewWidget/Feed.html" data-fn="openPop" data-param='{ "type": "inline", "width": 910, "height":"80%", "closeButton": false, "resizeBoxLightbox": true }' class="btn-red btn-add-widget"><span class="icon-add-white-22"></span><span class="text">ADD</span></a>
                    </li>
                    <li>
                        <a href="#modalSliderAjax" data-ngopenpop="/Templates/AddNewWidget/MyWebsites.html" data-fn="openPop" data-param='{ "type": "inline", "height":"auto", "width": "auto", "closeButton": false, "resizeBoxLightbox": true }'>
                            <img src="/Content/Widgets/add-bookmark.png" alt="">
                            <span class="label">My Websites</span>
                        </a>
                        <a href="#modalSliderAjax" data-ngopenpop="/Templates/AddNewWidget/MyWebsites.html" data-fn="openPop" data-param='{ "type": "inline", "height":"auto", "width": "auto",  "closeButton": false, "resizeBoxLightbox": true }' class="btn-red btn-add-widget"><span class="icon-add-white-22"></span><span class="text">ADD</span></a>
                    </li>
                    <li data-ng-hide="isSocialMediaExists">
                        <a href="#modalSliderAjax" data-ngopenpop="/Templates/FacebookPhotos.html" data-fn="openPop" data-param='{ "type": "inline", "height": "auto", "width": "auto", "closeButton": false, "resizeBoxLightbox": true }'>
                            <img src="/Content/Widgets/add-social-media-photos.png" alt="" class="social-media">
                            <span class="label">Social Media Photos</span>
                        </a>
                        <!--<a class="btn-red btn-add-widget" ng-href='#here' ng-click="VerifyForSocialMediaFrame()"><span class="icon-add-white-22"></span><span class="textdisabled">ADD</span></a>-->
                        <a href="#modalSliderAjax" data-ngopenpop="/Templates/FacebookPhotos.html" data-fn="openPop" data-param='{ "type": "inline", "height": "auto", "width": "auto",  "closeButton": false, "resizeBoxLightbox": true }' class="btn-red btn-add-widget"><span class="icon-add-white-22"></span><span class="text">ADD</span></a>
                    </li>
                    <li data-ng-show="isSocialMediaExists">
                        <a data-ng-click="VerifyForSocialMediaFrame();">
                            <img src="/Content/Widgets/add-social-media-photos.png" alt="" class="social-media">
                            <span class="labeldisabled">Social Media Photos</span>
                        </a>

                        <a class="btn-red btn-add-widget" ng-click="VerifyForSocialMediaFrame()"><span class="icon-add-white-22"></span><span class="textdisabled">ADD</span></a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <p class="msg-info" data-ng-show="isSocialMediaFrame">
        Your social media photos’ frame is already set up. <br />
        To update this frame, please locate it on your homepage <br />
        and click ‘Edit’ in the top right hand corner.
    </p>
    <div data-ng-show="hasLoad" class="add-new-widget-load">
        <div data-loading=""></div>
    </div>
</section>

<style type="text/css">
    .box-lightbox.add-new-widget.step1.ng-scope h1 {
        border-bottom: 1px solid #cccccc;
        color: #195590;
        line-height: 49px;
        font-size: 1.45em;
        font-weight: 400;
        padding: 0 0 0 13px;
    }
</style>