<div class="content email-feed" data-ng-controller="EmailCtrl" data-ng-target="">                                
    <section>
        <ul class="feed">
            <li>
                <span title="take65@take65.com">TAKE 65</span>
                <p>
                    <a href="#">Create your account</a>
                </p>
                <time>2 hours ago</time>
            </li>
            <li>
                <span title="take65@take65.com">TAKE 65</span>
                <p>
                    <a href="#">Discover TAKE 65 features</a>
                </p>
                <time>5 hours ago</time>
            </li>
            <li>
                <span title="take65@take65.com">TAKE 65</span>
                <p>
                    <a href="#"> Take 65 is your trusted source for security and simplicity on the web</a>
                </p>
                <time>12 hours ago</time>
            </li>
            <li>
                <span title="take65@take65.com">TAKE 65</span>
                <p>
                    <a href="#">What's new on TAKE 65</a>
                </p>
                <time>1 day ago</time>
            </li>
        </ul>
    </section>
    
</div>
