<!--<section class="box-lightbox" data-ng-controller="FacebookPhotoDetailCtrl">
	<header>
		<h1>{{facebookImageCaption}}</h1>-->
        <!--<a href="#home" class="btn-close-colorbox icon-close-red-and-white" data-colorbox-close="">Close</a>-->
<!--	</header>
    <div style="width: {{facebookImageWidth}}; height:{{facebookImageHeight}};">
	    <img src="{{facebookImage}}" />
    </div>

</section>-->


<section class="fb-photo-detail" data-ng-controller="FacebookPhotoDetailCtrl">
    <div data-ng-carousel="">
        <figure>
            <img src="http://placehold.it/980x747/000000/ffffff" alt="" />
        </figure>
        <!--
        <figure>
            <img src="http://placehold.it/980x747/000000/ffffff" alt="" />
        </figure>
        <figure>
            <img src="http://placehold.it/980x747/000000/ffffff" alt="" />
        </figure>
        <figure>
            <img src="http://placehold.it/980x747/000000/ffffff" alt="" />
        </figure>        
        -->
    </div>
</section>
