<div class="content weather-widget" data-ng-controller="WeatherCtrl" data-ng-target="">
 <!-- <span class="label-location">{{weather.location}}</span> -->
    <div class="weatherdetails-box">
<!--       
<a href="http://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
--
</a>-->
        
        <!--<div id="awtd1419874659937" class="aw-widget-36hour"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awtd1419874659937" data-editlocation="true"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>  -->
              <header class="header">
            <h1>Weather</h1>
        </header>

        <div class="content">
            <div class="local-weather">
                <form data-ng-submit="loadWeather();">
                    <label>Local Weather</label>
                    <input type="text" placeholder="Zip Code" data-ng-model="weather.address" />
                    <button class="change-step next-step btn-red">Load</button>
                    <input type="submit" data-ng-hide="true" />
                </form>
            </div>

            <ul class="list-weather">
                <li>
                    <span class="local">
                        {{weather.location}}
                        <span class="small">{{weather.lastUpdate}} (ET)</span>
                    </span>

                    <span class="current">{{weather.currentTemp}}º</span>
                    <span class="icon icon-sunny-blue"></span>
                </li>

                <li data-ng-repeat="data in weather.forecast | limitTo:3">
                    <label>{{data.dateLabel}}</label>
                    <span class="low">{{data.tempMin}}º</span>
                    <span class="high">{{data.tempMax}}º</span>
                    <span class="icon-sprite {{data.icon}}" title="{{data.summary}}"></span>
                </li>
            </ul>
            <a href="#modalSliderAjax" class="blue" data-ngopenpop="/Templates/WeatherDetails.html" data-fn="openPop" data-param='{ "type": "inline", "width": 453, "height": 420, "closeButton": false }' title="Details">Details</a>
        </div>

   </div>

</div>

