<section class="box-lightbox welcome" data-ng-controller="WelcomeModal" data-resizecolorbox="" data-ng-target="">
    <header class="header-logo">
        <img class="logo" src="../Img/Default/logo-main-small.png" alt="Take 65" />
    </header>

    <article class="content">
        <h1>Make <span>Take65 </span> your homepage</h1>
        <p>Get instant access to your website, every time you open your browser.</p>

        <a href="#" class="btn-red">Get Started</a>

        <label class="lbl-see-again">
            <input type="checkbox" value="" /> I don’t want to see this again
        </label>    
        
        <div>
            <img src="../Img/Default/modal-welcome.jpg" alt="Make content your homepage" />
        </div>  

    </article>

</section>