.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu {
    line-height: 1.0;
}

    .sf-menu ul li {
        width: 100%;
    }

    .sf-menu li:hover {
        visibility: inherit; /* fixes IE7 'sticky bug' */
    }

    .sf-menu li {
        float: left;
        position: relative;
    }

    .sf-menu a {
        display: block;
        position: relative;
    }

    .sf-menu li:hover ul, .sf-menu li.sfHover ul {
        left: 2px;
        top: 62px; /* match top ul list item height */
        z-index: 99;
    }

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: -999em;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left: 134px; /* match ul width */
    top: -13px;
}

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
    top: -999em;
}

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
    left: 10em; /* match ul width */
    top: 0;
}

.sf-menu > li {
    background: url('../Img/separato.jpg') no-repeat 0 10px;
}

    .sf-menu > li:first-child {
        background: none;
    }

    .sf-menu > li > a {
        font: 12px/24px Arial, sans-serif;
        color: #9a9999;
        text-transform: uppercase;
        padding: 0 13px 0 16px;
        border-top: 2px solid transparent;
    }

    .sf-menu > li + li > a {
        padding: 0 24px 0 24px;
    }

    .sf-menu > li > a > span {
        padding: 26px 17px 17px 17px;
        display: block;
    }

    .sf-menu > li:hover a span, .sf-menu > li.active a span, .sf-menu > li.sfHover a span {
        background: #0069aa; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    }

    .sf-menu > li > a:hover, .sf-menu > li.active > a, .sf-menu > li.sfHover > a {
        color: #ffffff;
        border-top: 2px solid #0069aa;
    }

.sf-menu ul {
    position: absolute;
    top: -999em;
    width: 200px;
    padding: 38px 0 10px 0;
    /*background-color: #797979;*/
    background: url('../Img/sub-bg-1.png') no-repeat;
}

.sf-menu li li a {
    font: 12px/30px Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
}

    .sf-menu li li a:hover, .sf-menu > li li.active a, .sf-menu > li li.sfHover > a {
        color: #f0e60b;
    }

.sf-menu ul ul {
    background: url('../Img/sub-bg00.jpg');
    padding: 15px 0 15px 0;
}

.sf-menu li li li a {
    margin: 0 10px 0 40px;
}

.sf-menu > li:hover a span.sf-sub-indicator, .sf-menu > li.active a span.sf-sub-indicator, .sf-menu > li.sfHover a span.sf-sub-indicator {
    background: url('../Img/auto-arr.png') no-repeat 0 -6px;
}

.sf-sub-indicator {
    display: block;
    text-indent: -999em;
    width: 11px;
    height: 6px;
    position: absolute;
    background: url('../Img/auto-arr.png') no-repeat;
    padding: 0 !important;
    bottom: 12px;
    left: 50%;
    margin-left: -6px;
}

.sf-menu > li li .sf-sub-indicator {
    display: none;
}
