<?xml version="1.0" encoding="UTF-8"?>
<rules>

  <rule name="REST-Parameter-6" stopProcessing="true">
    <match url="^REST/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="/Service/{R:1}.ashx?p1={R:2}&amp;p2={R:3}&amp;p3={R:4}&amp;p4={R:5}&amp;p5={R:6}" appendQueryString="true" />
  </rule>
  
  <rule name="REST-Parameter-5" stopProcessing="true">
    <match url="^REST/(.*)/(.*)/(.*)/(.*)/(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="/Service/{R:1}.ashx?p1={R:2}&amp;p2={R:3}&amp;p3={R:4}&amp;p4={R:5}" appendQueryString="true" />
  </rule>
  
  <rule name="REST-Parameter-4" stopProcessing="true">
    <match url="^REST/(.*)/(.*)/(.*)/(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="/Service/{R:1}.ashx?p1={R:2}&amp;p2={R:3}&amp;p3={R:4}" appendQueryString="true" />
  </rule>
  
  <rule name="REST-Parameter-2" stopProcessing="true">
    <match url="^REST/(.*)/(.*)/(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="/Service/{R:1}.ashx?p1={R:2}&amp;p2={R:3}" appendQueryString="true" />
  </rule>
  
  <rule name="REST-Parameter-1" stopProcessing="true">
    <match url="^REST/(.*)/(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="/Service/{R:1}.ashx?p1={R:2}" appendQueryString="true" />
  </rule>

  <rule name="REST" stopProcessing="true">
    <match url="^REST/(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="/Service/{R:1}.ashx" appendQueryString="true" />
  </rule>

  <rule name="GoogleOAuth2Callback" stopProcessing="true">
    <match url="^googleoauth2callback?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="/Service/Gmail.ashx" appendQueryString="true" />
  </rule>
  <rule name="GAuth2Callback" stopProcessing="true">
    <match url="^gauth2callback?(.*)$" ignoreCase="true" />
    <action type="Rewrite" url="/Service/Register.ashx" appendQueryString="true" />
  </rule>
 <!--
  <rule name="NewsList" stopProcessing="true">
    <match url="^NewsList(.*)" />
    <action type="Rewrite" url="/NewsList.aspx?{R:1}" appendQueryString="true" />
  </rule>
-->

</rules>