<?xml version="1.0"?>
<connectionStrings>
  <add name="AdminTest" connectionString="server=54.200.182.210;UID=take65;PWD=T@nderF00t;database=take65-V4;;" providerName="System.Data.SqlClient"/>
  <add name="Take65" connectionString="server=54.200.182.210;UID=take65;PWD=T@nderF00t;database=take65-V3;" providerName="System.Data.SqlClient"/>
</connectionStrings>
